@use '../mixin/font.scss' as *;
.o-table {
  --table-edge-padding: 24px;
  --table-cell-padding: 16px 10px;
  --table-head-cell-padding: 12px 10px;
  --table-head-bg: var(--o-color-control3-light);
  --table-color: var(--o-color-info1);

  --table-loading-mask: var(--o-color-info4-inverse);
  .o-table-loading-wrap {
    z-index: 99;
    flex-direction: column;
    .o-icon-loading {
      font-size: 24px;
    }
    .o-table-loading-label {
      margin: 12px 0 0;
      @include text1;
    }
  }

  th {
    font-weight: 500;
    border-right: 0;
  }
  &.table-version {
    --table-head-bg: var(--o-color-primary1);
    th {
      color: #fff;
    }
  }
  td {
    word-break: break-word;
  }
  &.o-table-small {
    --table-cell-height: auto;
    --table-edge-padding: 24px;
    --table-cell-padding: 8px;
    --table-head-cell-padding: 8px;
    td,
    th {
      @include tip1;
    }
  }
}
